
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 250 ns HIGH 50%;

NET "clk" LOC = "P18" ;
NET "reset_n" LOC = "P22" ;

NET "led[7]" LOC = "P85" ;
NET "led[6]" LOC = "P84" ;
NET "led[5]" LOC = "P83" ;
NET "led[4]" LOC = "P80" ;
NET "led[3]" LOC = "P79" ;
NET "led[2]" LOC = "P77" ;
NET "led[1]" LOC = "P76" ;
NET "led[0]" LOC = "P75" ;

NET "seg[0]" LOC = "P49";  # a (low)
NET "seg[1]" LOC = "P51";  # b
NET "seg[2]" LOC = "P47";  # c
NET "seg[3]" LOC = "P44";  # d
NET "seg[4]" LOC = "P46";  # e
NET "seg[5]" LOC = "P50";  # f
NET "seg[6]" LOC = "P48";  # g

NET "digit[0]" LOC = "P136";
NET "digit[1]" LOC = "P137";

NET "spi_mosi" LOC = "P59";
NET "spi_clk" LOC = "P60";
NET "spi_cs" LOC = "P62";
