
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 250 ns HIGH 50%;

NET "clk" LOC = "P18" ;
NET "reset_n" LOC = "P22" ;

NET "led[7]" LOC = "P85" ;
NET "led[6]" LOC = "P84" ;
NET "led[5]" LOC = "P83" ;
NET "led[4]" LOC = "P80" ;
NET "led[3]" LOC = "P79" ;
NET "led[2]" LOC = "P77" ;
NET "led[1]" LOC = "P76" ;
NET "led[0]" LOC = "P75" ;


NET "lseg[0]" LOC = "P49";  # a (low)
NET "lseg[1]" LOC = "P51";  # b
NET "lseg[2]" LOC = "P47";  # c
NET "lseg[3]" LOC = "P44";  # d
NET "lseg[4]" LOC = "P46";  # e
NET "lseg[5]" LOC = "P50";  # f
NET "lseg[6]" LOC = "P48";  # g


NET "hseg[0]" LOC = "P57";
NET "hseg[1]" LOC = "P54";
NET "hseg[2]" LOC = "P40";
NET "hseg[3]" LOC = "P43";
NET "hseg[4]" LOC = "P41";
NET "hseg[5]" LOC = "P56";
NET "hseg[6]" LOC = "P58";

NET "spi_mosi" LOC = "P59";
NET "spi_clk" LOC = "P60";
NET "spi_cs" LOC = "P62";
